.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.content_left {
    flex-basis: 30%;
    margin-right: 1em;

}

.content_left h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    text-shadow: 0 3px 3px rgba(7, 39, 245, 0.89);
    padding: 0.6em 1.2em;
}

.content_left p {
    margin: 0;
}

.content_left article p:first-child {
    font-size: 1.3em;
}

.content_left a {
    text-decoration: none;
    color: rgb(0, 150, 246);
}

.content_left article {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0.9em auto;
    padding: 0.9em 0.6em;
    border-bottom: 2px groove #fff;
}

.bottom {
    background: linear-gradient(#ffffff, #8bbdf1);
    border: 1px solid #fff;
    padding: 2.2em 0;
    margin-top: 0.6em;
    display: flex;
    justify-content: space-around;
}

.bottom p {
    text-transform: uppercase;
    color: #e20a0a;
    text-shadow: 0 3px 3px white;
    font-weight: bold;
    margin: 0;
}

.bottom span {
    font-size: 1.4em;
    color: #0d67bd;
}

.bottom p:last-child {
    margin-left: 1.6em;
}

section {
    background: linear-gradient(#ffffff, #8bbdf1);
    padding: 0.3em;
}

.content_left img {
    width: 4em;
    height: 4em;
    margin-right: 0.6em;
}

.bottomLeft {
}

.bottomRight p {
    font-size: 2.8em;
    font-weight: bold;
    text-shadow: 0 3px 3px rgba(7, 39, 245, 0.89);
    margin: 0;
}

.content_right {
    flex-basis: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content_right_top {
    background: linear-gradient(#ffffff, #ace2ef);
    flex-basis: 31%;
    padding: 0.9em;
    position: relative;
    box-sizing: border-box;
}

.content_right_top h2 {
    color: black;
    font-size: 1.3em;
    margin: 0.4em 0;
    text-shadow: 0 3px 3px rgba(7, 39, 245, 0.89);
}

.content_right_top p {
    line-height: 1.3em;
}

.content_right_top a {
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 1em;
    right: 1.3em;
}

.content_right_bottom {
    background: linear-gradient(#ffffff, #ace2ef);
    flex-basis: 67%;
    box-sizing: border-box;
    position: relative;
}

.content_right_bottom h2 {
    background: #0552b1;
    padding: 0.5em;
    text-align: left;

}

.content_right_bottom img {
    width: 90%;
    height: 10em;
    margin-left: 1em;
}
.content_right_bottom > a {
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 1.3em;
    bottom: 1.3em;
}
.content_right_bottom > a:hover {
  text-decoration: underline;
}

.news {
    display: flex;
    flex-direction: row;
}

.news_Image {
    flex-basis: 30%;
}

.news_text {
    flex-basis: 60%;
}

.news_text h3 {
    margin: 0;
}

.news_links {
    margin: 2.5em auto 0;
    width: 80%;
}

.news_links a {
    display: block;
    text-decoration: none;
    margin: 0.4em 0;
    color: #1484d2;
}
.news_links a:hover{
    text-decoration: underline;
}
@media (max-width: 700px) {
    .content_right_bottom img {
        display: none;
    }


}
