
.top {
    display: flex;
    justify-content: space-between;
    background: #ace2ef;
    align-items: center;
    padding: 1em;

}

.logo {
    display: flex;
    align-items: center;
}

.logoTitle {
    padding-left: 1em;
}

.logo p {
    margin: 0;
}

.logo p:first-child {
    font-size: 1.5em;
    text-transform: uppercase;
}

.logo p:last-child {
    font-size: 0.8em;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 3px 3px rgba(7, 39, 245, 0.89);
}

.logo span {
    color: white;
}

.logoImg {
    width: 11em;
    height: 3.75em;
    margin-right: 0.6em;
}

.top form input {
    width: 11em;
    padding: 0.3em;
    border: 1px solid dodgerblue;
    border-radius: 0.3em;
    outline: none;
}

.top form button {
    margin-left: 0.5em;
    padding: 0.3em;
    border: 1px solid #3cbaec;
    border-radius: 5px;
    background: linear-gradient(dodgerblue, #3cbaec);
    color: #fff;

}

.top form button:hover {
    background: #0d67bd;

}

.top form input:hover {
    border: 2px solid #0d67bd;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    background: url('../../assets/banner.jpg') no-repeat;
    background-size: cover;
    height: 20vw;

}

.bannerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner p {
    font-size: 3em;
    font-weight: 500;
    color: #fff;
    margin: 0;
    text-shadow: 0 3px 3px rgba(7, 39, 245, 0.89);
}

.nav {

    background: linear-gradient(dodgerblue, #3cbaec 80%, #0552b1);
    padding: 0.6em 0 0.3em;
}

.nav ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #a6d3ea;
    margin: 0;
}

.nav ul li {

    list-style-type: none;
    border-right: 1px solid rgba(5, 82, 177, 0.61);
    border-left: 1px solid rgba(5, 102, 177, 0.94);
    padding: 0.6em 0;
    flex-basis: 100%;
    text-align: center;
    border-radius: 0 0 0.6em 0.6em;
}
.nav ul li:first-child{
    border-left: none
}

.nav ul li:last-child{
    border-right: none
}

.nav ul li a {
   color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0 ,0, 0.7) ;
}

@media (max-width: 600px) {
    .logoImg{
        display: none;
    }
}

