footer{

    margin-top: 0.9em;
}
footer ul{
    display: flex;
    background: linear-gradient(dodgerblue, #3cbaec 80%, #0552b1);
    margin: 0 ;
    padding: 0.9em 0;
    justify-content: center;
}
footer li {
    list-style-type:none;

    border-right: 1px solid;
}
.nav a {
padding: 0.5em;
    color: white;
    text-decoration: none;

}
.none a{
    border-right: none;
}
footer p {
    text-align: center;
}